<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Cadastro de Veículos</title>-->
<!--</head>-->
<!--<body>-->

<!--    <h2>Cadastro de Veículos</h2>-->
<!--    <form method="post">-->
<!--      Tipo do Veiculo: <input type="text" value="" name="veiculo"/>-->
<!--      Placa: <input type="text" value="" name="placa"/>-->
<!--     <select class="form-control">Marca<option>Select padrão</option></select>-->
<!--     <select class="form-control">Modelo<option>Select padrão</option></select>-->
<!--     <div class="form-group form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--        <label class="form-check-label" for="exampleCheck1">Utilitários</label>-->
<!--      </div>-->
<!--      Horário Entrada <input type="${#temporals.formatISO(timestamp)}" value="" name="horaentrada"/>-->

<!--      <button type="submit">Salvar</button>-->

<!--    </form>-->


<!--</body>-->
<!--</html>-->