<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Detalhes Faturamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-dark bg-dark" style="justify-content: center; margin-bottom: 10px;">
            <span class="navbar-brand mb-0 h1"><h2>Faturamento</h2></span>
        </nav>
        <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Detalhes Faturamento</li>
    </ol>
</nav>
<div class="container">
    <form>
        <div class="form-group">
            <label for="txttotalFaturamentoCarro">Toral Faturamento Carro</label>
            <input type="text" class="form-control" id="txttotalFaturamentoCarro" name="totalFaturamentoCarro"  th:value=" ${#numbers.formatDecimal(faturamento.totalFaturamentoCarro, 0, 'COMMA', 2, 'POINT')}">
        </div>

        <div class="form-group">
            <label for="totalFaturamentoMoto">Total Faturamento Moto</label>
            <input type="text" class="form-control" id="totalFaturamentoMoto" name="totalFaturamentoMoto" th:value= " ${#numbers.formatDecimal(faturamento.totalFaturamentoMoto, 0, 'COMMA', 2, 'POINT')}">
        </div>

        <div class="form-group">
            <label for="totalFaturamentoUtilitarios">Total Faturamento Utilitários</label>
            <input type="text" class="form-control" id="totalFaturamentoUtilitarios" name="totalFaturamentoUtilitarios" th:value=" ${#numbers.formatDecimal(faturamento.totalFaturamentoUtilitarios, 0, 'COMMA', 2, 'POINT')}">
        </div>

        <div class="form-group">
            <label for="totalFaturamento">Total Faturamento</label>
            <input type="text" class="form-control" id="totalFaturamento" name="totalFaturamento" th:value=" ${#numbers.formatDecimal(faturamento.totalFaturamento, 0, 'COMMA', 2, 'POINT')}">
        </div>

        <a href="/estacionamento/dados" class="btn btn-secondary btn-block float-right" style="width: 30%;">Voltar Dados Estacionamento</a>
    </form>
</div>
</body>
</html>